#wrapper
{
	width : 960px;
	height: auto;
	margin: 0px auto;
}

#header
{
	width : 960px;
	height: 100px;
	background: url("images/header.png") no-repeat;

}

#navigation
{
	width: 960px;
	height: 50px;
	background-color: black;
	border: 1px solid white;
}

#slider
{
	width: 960px;
	height: 280px;
}

#content
{
	width: 960px;
	height: auto;
}

#footer
{
	width: 960px;
	height: 50px;
	background: url("images/header.png");
}

#navigation ul li
{
	float: left;
	list-style-type: none;
	margin-right: 65px;
	padding: 4px;
	
}

#navigation ul li a
{
	text-decoration: none;
	font-size: 17px;
	text-align: center;
	color: white;
}

#navigation ul li a:hover
{
	color: lightGrey;
	font-weight: bold;
}

.clear
{
	clear: both;
}
